<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Sistema de testes</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="~/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/datatables/dataTablesAntigo/datatables.css" />

    <script src="~/bootstrap/js/bootstrap.js"></script>
    <script src="~/jquery/jquery.js"></script>
    <script src="~/datatables/dataTablesAntigo/datatables.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="container">
            <div class="navbar-header">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand text-white">ProjetoComSenha</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item"><a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a class="nav-link text-white"  asp-area="" asp-controller="Home" asp-action="Partidas">Partidas</a></li>
                    <li><a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="CreateRegiao">Região</a></li>
                    <li><a class="nav-link text-white" asp-area="" asp-controller="Jogos" asp-action="ListaJogos">Jogos</a></li>
                    <li><a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Notificacoes">Notificações</a></li>
                    <li><a class="nav-link text-white"  asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a class="nav-link text-white"  asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2020 - ProjetoComSenha</p>
        </footer>
    </div>

    @RenderSection("Scripts", required: false)

    <script>
        var url_api = '@ProjetoComSenha.Common.Api';
    </script>

</body>
</html>