<h2>Teste parcial view</h2>

<div>
    <div id="feedback"></div>
    <div id="form">
        <form href="#" action="OnGetPartial" method="post" id="actionform">
            <select name="requestedAction">
                <option value="foo">Do Foo</option>
                <option value="bar">Do Bar</option>
            </select>
            <input type="submit">
        </form>
    </div>
</div>