@model ProjetoComSenha.Models.ListaJogosModelView

@{
    ViewData["Title"] = "ListaJogos";
}

<h2>Lista de Jogos</h2>

<form method="post">
    <input asp-for="DtInicial" type="date" />
    <input type="text" name="name" value="" />
    <button type="submit" formaction="@Url.Action("Teste")">Teste</button>
</form>

<p>
    <a asp-action="CreateJogo">Create New</a>
</p>

<div>
    <button onclick="carregaTabela()">Chama parcial</button>
</div>

<section class="page-section pt-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-content pt-3">
                    <div class="card card-shadow-sm">
                        <div class="card-body" id="someDiv">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal de informações do jogo -->
<div class="modal fade" id="modalAuxiliar" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="divDadosModal">

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            carregaTabela();
        });

        function carregaTabela() {

            var model = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(this.Model));

           $.ajax({
                type: "POST",
               data: JSON.stringify(model),
                async: false,
                url: "CarregaDadosTabela",
                contentType: "application/json"
            }).done(function (res) {
                $("#someDiv").html(res);
            });

           $('#tabelaPrincipal').DataTable({
                order: [
                    [0, "desc"]
                ],
                columnDefs: [{
                    "orderable": false,
                    "targets": [5]
                }
                ],
                language: {
                    url: "/datatables/Portuguese-Brasil.json"
                }
           });
        }

        function carregaPartialGet() {
            $("#someDiv").load('@Url.Action("doctorsview","Jogos")');
        }
    </script>
}