
@{
    ViewData["Title"] = "Index";
}

<section class="page-section filter-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="filter-section-search mb-2">
                    <div class="kt-container kt-container--fluid form-row">
                        <div class="col-12">
                            <h3 class="filter-section-search__title">
                                HISTÓRICO NOTIFICAÇÕES
                                <span class="filter-section-search__desc">Registros no sistema: 1260</span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section pt-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-content pt-3">
                    <div class="card card-shadow-sm">
                        <div class="card-body">
                            <table id="tabelaNotificacoes" class="table table-template table-striped table-bordered text-sm">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Data</th>
                                        <th>Tipo</th>
                                        <th>Resumo</th>
                                        <th>Situação</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>15:30 18/09/18</td>
                                        <td>Avaliação concluída</td>
                                        <td>Avaliação Teórica 016 Sorologia 2018. AGENCIA TRANSFUSIONAL DA PREFEITURA MUNICIPAL DE BARUERI</td>
                                        <td><span class="badge badge-pill badge-success font-weight-normal">Visualizado</span></td>
                                        <td>
                                            <div class="d-flex justify-content-center">
                                                <button type="button" class="btn btn-info btn-sm mr-1" data-toggle="tooltip" title="Visualizar detalhes">
                                                    <i class="fas fa-eye"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>15:30 18/09/18</td>
                                        <td>Avaliação concluída</td>
                                        <td>Avaliação Teórica 016 Sorologia 2018. AGENCIA TRANSFUSIONAL DA PREFEITURA MUNICIPAL DE BARUERI</td>
                                        <td><span class="badge badge-pill badge-success font-weight-normal">Visualizado</span></td>
                                        <td>
                                            <div class="d-flex justify-content-center">
                                                <button type="button" class="btn btn-info btn-sm mr-1" data-toggle="tooltip" title="Visualizar detalhes">
                                                    <i class="fas fa-eye"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>15:30 18/09/18</td>
                                        <td>Avaliação concluída</td>
                                        <td>Avaliação Teórica 016 Sorologia 2018. AGENCIA TRANSFUSIONAL DA PREFEITURA MUNICIPAL DE BARUERI</td>
                                        <td><span class="badge badge-pill badge-success font-weight-normal">Visualizado</span></td>
                                        <td>
                                            <div class="d-flex justify-content-center">
                                                <button type="button" class="btn btn-info btn-sm mr-1" data-toggle="tooltip" title="Visualizar detalhes">
                                                    <i class="fas fa-eye"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>15:30 18/09/18</td>
                                        <td>Avaliação concluída</td>
                                        <td>Avaliação Teórica 016 Sorologia 2018. AGENCIA TRANSFUSIONAL DA PREFEITURA MUNICIPAL DE BARUERI</td>
                                        <td><span class="badge badge-pill badge-success font-weight-normal">Visualizado</span></td>
                                        <td>
                                            <div class="d-flex justify-content-center">
                                                <button type="button" class="btn btn-info btn-sm mr-1" data-toggle="tooltip" title="Visualizar detalhes">
                                                    <i class="fas fa-eye"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>15:30 18/09/18</td>
                                        <td>Usuário pendente</td>
                                        <td>Avaliação Teórica 016 Sorologia 2018. AGENCIA TRANSFUSIONAL DA PREFEITURA MUNICIPAL DE BARUERI</td>
                                        <td><span class="badge badge-pill badge-success font-weight-normal">Visualizado</span></td>
                                        <td>
                                            <div class="d-flex justify-content-center">
                                                <button type="button" class="btn btn-info btn-sm mr-1" data-toggle="tooltip" title="Visualizar detalhes">
                                                    <i class="fas fa-eye"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>15:30 18/09/18</td>
                                        <td>Recurso recebido</td>
                                        <td>Avaliação Teórica 016 Sorologia 2018. AGENCIA TRANSFUSIONAL DA PREFEITURA MUNICIPAL DE BARUERI</td>
                                        <td><span class="badge badge-pill badge-success font-weight-normal">Visualizado</span></td>
                                        <td>
                                            <div class="d-flex justify-content-center">
                                                <button type="button" class="btn btn-info btn-sm mr-1" data-toggle="tooltip" title="Visualizar detalhes">
                                                    <i class="fas fa-eye"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>15:30 18/09/18</td>
                                        <td>Recurso recebido</td>
                                        <td>Avaliação Teórica 016 Sorologia 2018. AGENCIA TRANSFUSIONAL DA PREFEITURA MUNICIPAL DE BARUERI</td>
                                        <td><span class="badge badge-pill badge-success font-weight-normal">Visualizado</span></td>
                                        <td>
                                            <div class="d-flex justify-content-center">
                                                <button type="button" class="btn btn-info btn-sm mr-1" data-toggle="tooltip" title="Visualizar detalhes">
                                                    <i class="fas fa-eye"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td>15:30 18/09/18</td>
                                        <td>Usuário pendente</td>
                                        <td>Avaliação Teórica 016 Sorologia 2018. AGENCIA TRANSFUSIONAL DA PREFEITURA MUNICIPAL DE BARUERI</td>
                                        <td><span class="badge badge-pill badge-success font-weight-normal">Visualizado</span></td>
                                        <td>
                                            <div class="d-flex justify-content-center">
                                                <button type="button" class="btn btn-info btn-sm mr-1" data-toggle="tooltip" title="Visualizar detalhes">
                                                    <i class="fas fa-eye"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>9</td>
                                        <td>15:30 18/09/18</td>
                                        <td>Usuário pendente</td>
                                        <td>Avaliação Teórica 016 Sorologia 2018. AGENCIA TRANSFUSIONAL DA PREFEITURA MUNICIPAL DE BARUERI</td>
                                        <td><span class="badge badge-pill badge-dark font-weight-normal">Não visualizado</span></td>
                                        <td>
                                            <div class="d-flex justify-content-center">
                                                <button type="button" class="btn btn-info btn-sm mr-1" data-toggle="tooltip" title="Visualizar detalhes">
                                                    <i class="fas fa-eye"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {

    <script>
        // Tabela 6 - Lista de notificações
        $(document).ready(function () {
            $('#tabelaNotificacoes').DataTable({
                order: [
                    [0, "desc"]
                ],
                columnDefs: [{
                    "orderable": false,
                    "targets": [5]
                }
                ],
                language: {
                    url: "/datatables/Portuguese-Brasil.json"
                }
            });
        });
    </script>
}
