
@{
    Layout = null;
}

<!DOCTYPE html>


    <div id="divEmpresa">Texto inicial</div>
    <button id="botao" onclick="obterDados()">Trocar texto com JS</button>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="~/js/tela1.js"></script>
