
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Empresa</title>
</head>
<body>
    <div id="divEmpresa">Texto inicial</div>
    <button id="botao" onclick="obterDados()">Trocar texto com JS</button>
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="~/js/tela1.js"></script>
